# Ignore everything
*
# But allow to track:

# Git things
!README.md
!LICENSE
!.gitignore
# On session startup
!.xsessionrc
# Shell
!.bashrc
!.bash
!.bash/*
#!.fishrc
#!.fish
#!.fish/*
!.zshrc
!.zsh
!.zsh/*
# Bookmarks
!.gtk-bookmarks
!.config/gtk-3.0
!.config/gtk-3.0/bookmarks
!.Xresources
!.Xresources.d
!.Xresources.d/*

# Folder for all pics in the directory
!Pictures
!Pictures/*
!Pictures/**
!.face
!.directory

# Config folder
!.config
!.config/redshift.conf
# Compositor
!.config/picom
!.config/picom/*
# Launcher
!.config/rofi
!.config/rofi/*
# Dunst
!.config/dunst
!.config/dunst/*
# MPD
!.config/mpd
!.config/mpd/mpd.conf
# Cava
!.config/cava
!.config/cava/config
# ouRXvt
!.urxvt
!.urxvt/ext
!.urxvt/ext/*
# Vim
!.vimrc
!.vim
!.vim/README.md
# Kitty
!.config/kitty
!.config/kitty/*

# Random folder
!.lists
!.lists/*

# Window Manager (do not include others config files)
# Plasma
!.kde
!.kde/KwinRules
!.kde/KwinRules/*
!.kde/Kongsole
!.kde/Kongsole/*
!.config/autostart-scripts
!.config/autostart-scripts/*
!.config/plasma-workspace
!.config/plasma-workspace/shutdown
!.config/plasma-workspace/shutdown/*
# PekWM
!.pekwm
!.pekwm/*
!.pekwm/Themes
!.pekwm/Themes/*
# Qtile
!.config/qtile
!.config/qtile/*
!.config/qtile/Themes
!.config/qtile/Themes/*
!.config/qtile/Bars
!.config/qtile/Bars/*
# Herbstluftwm
!.config/herbstluftwm
!.config/herbstluftwm/*
!.config/herbstluftwm/Themes
!.config/herbstluftwm/Themes/*
# Polybar
!.config/polybar
!.config/polybar/*
#!.config/polybar/**
