# Ignore everything
*
# But allow to track:

# Git things
!README.md
!LICENSE
!.gitignore
# On session startup
!.xsessionrc
# .rc thing
!.bashrc
!.zshrc
!.vimrc
!.Xresources
!.gtk-bookmarks

# Folder for all pics in the directory
#!Pictures
#!Pictures/*
#!Pictures/**
!.face
!.directory

# Config folder
!.config/redshift.conf
# Compositor
!.config/picom/*
# Launcher
!.config/rofi/*
# MPD
!.config/mpd/mpd.conf

# Window Manager (do not include others config files)
#.config/autostart-scripts/*
#.config/qtile/*
#.config/herbstluftwm/*
#.config/herbstluftwm/HlThemes/*
#.config/herbstluftwm/PbThemes/*
