#-- Set keyboard layout
#setxkbmap latam &
#xsetroot -cursor_name left_ptr

#-- Autostart Applications On Every Login
#redshift &
#-- MPD start if no other user instance exists
#[ ! -s ~/.config/mpd/pid ] && mpd
#export MPD_HOST=${HOME}/.config/mpd/socket
#-- Lockscreen
#light-locker &
#xscreensaver -nosplash &
#xautolock -detectsleep -time 15 -locker "i3lock -n -i /home/user/lockscreen.png" -killtime 20 -killer "systemctl suspend"
#-- Reload Xresources
#xrdb ~/.Xresources

#-- Defaults
#export DISTRO='artix'
#export VISUAL="/usr/bin/nvim"
export EDITOR="/usr/bin/nvim"
export TERMINAL="kitty"
export BROWSER="/usr/bin/firefox"
#-- QT
export QT_QPA_PLATFORMTHEME="qt5ct"
#-- Custom PATH
export PATH="${PATH}:${HOME}/bin:${HOME}/bin/scripts"

#-- OPENRC
#xbacklight -set 10
#/usr/bin/amixer -c 0 sset "Auto-Mute Mode" Disabled
#-- RUNIT
#synclient TapButton2=2 TapButton3=3

## Ensure D-Bus Communication System is running to fix File management, authentication, and other system processes
#if which dbus-launch >/dev/null && test -z "$DBUS_SESSION_BUS_ADDRESS"; then
#    eval "$(dbus-launch --sh-syntax --exit-with-session)"
#fi
