! __   __                                            
! \ \ / /                                            
!  \ V / _ __ ___  ___  ___  _   _ _ __ ___ ___  ___ 
!  /   \| '__/ _ \/ __|/ _ \| | | | '__/ __/ _ \/ __|
! / /^\ \ | |  __/\__ \ (_) | |_| | | | (_|  __/\__ \
! \/   \/_|  \___||___/\___/ \__,_|_|  \___\___||___/
! ==== Load config =====
#include ".Xresources.d/font"
#include ".Xresources.d/urxvt"
#include ".Xresources.d/schemes/her"
