#entry {
border-radius: 5px;
padding: 5px;
margin: 1px 2px 1px 2px;
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

#entry:selected {
color: #5e81ac;
background-color: transparent;
font-weight: bold;
}
 
#text:selected {
  color: #5e81ac;
}
 
#window {
background-color: transparent;
font-family: Ubuntu Mono;
}

#input {
border: none;
background-color: #4c566a;
border-radius: 5px;
margin: 4px;
}

#inner-box {
color: #d8dee9;
border-radius: 10px;
}

#outer-box {
background-color: rgba(53,59,73,1.0);
box-shadow: 0px 0px 5px 0  #0F0F0F;
}

#text {
color: #d8dee9;
background-color: transparent;
} 

#img {
  background-color: transparent;
}
