<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://openbox.org/">
	<menu id="root-menu" label="Applications">
		<menu id="0.128674642023729" label="Accessories">
			<item label="Atom">
				<action name="Execute">
					<command>
<![CDATA[env PYTHON=python2 /usr/bin/atom]]>											
					</command>
				</action>
			</item>
			<item label="Bitwarden">
				<action name="Execute">
					<command>
<![CDATA[/opt/Bitwarden/bitwarden]]>											
					</command>
				</action>
			</item>
			<item label="File Manager PCManFM">
				<action name="Execute">
					<command>
<![CDATA[pcmanfm]]>											
					</command>
				</action>
			</item>
			<item label="Font Manager">
				<action name="Execute">
					<command>
<![CDATA[font-manager]]>											
					</command>
				</action>
			</item>
			<item label="Galculator">
				<action name="Execute">
					<command>
<![CDATA[galculator]]>											
					</command>
				</action>
			</item>
			<item label="Mousepad">
				<action name="Execute">
					<command>
<![CDATA[mousepad]]>											
					</command>
				</action>
			</item>
			<item label="nitrogen">
				<action name="Execute">
					<command>
<![CDATA[nitrogen]]>											
					</command>
				</action>
			</item>
			<item label="Notes">
				<action name="Execute">
					<command>
<![CDATA[xfce4-notes]]>											
					</command>
				</action>
			</item>
			<item label="Orage Globaltime">
				<action name="Execute">
					<command>
<![CDATA[globaltime]]>											
					</command>
				</action>
			</item>
			<item label="Redshift">
				<action name="Execute">
					<command>
<![CDATA[redshift-gtk]]>											
					</command>
				</action>
			</item>
			<item label="Run Program...">
				<action name="Execute">
					<command>
<![CDATA[xfce4-appfinder --collapsed]]>											
					</command>
				</action>
			</item>
			<item label="Screenshot">
				<action name="Execute">
					<command>
<![CDATA[xfce4-screenshooter]]>											
					</command>
				</action>
			</item>
			<item label="Sensor Viewer">
				<action name="Execute">
					<command>
<![CDATA[xfce4-sensors]]>											
					</command>
				</action>
			</item>
			<item label="Task Manager">
				<action name="Execute">
					<command>
<![CDATA[xfce4-taskmanager]]>											
					</command>
				</action>
			</item>
			<item label="Terminal Emulator">
				<action name="Execute">
					<command>
<![CDATA[exo-open --launch TerminalEmulator]]>											
					</command>
				</action>
			</item>
			<item label="Thunar File Manager">
				<action name="Execute">
					<command>
<![CDATA[thunar]]>											
					</command>
				</action>
			</item>
			<item label="Vifm">
				<action name="Execute">
					<command>
<![CDATA[xterm -e 'vifm']]>											
					</command>
				</action>
			</item>
			<item label="Vim">
				<action name="Execute">
					<command>
<![CDATA[xterm -e 'vim']]>											
					</command>
				</action>
			</item>
			<item label="Xarchiver">
				<action name="Execute">
					<command>
<![CDATA[xarchiver]]>											
					</command>
				</action>
			</item>
			<item label="Xfburn">
				<action name="Execute">
					<command>
<![CDATA[xfburn]]>											
					</command>
				</action>
			</item>
		</menu>
		<menu id="0.955330331848142" label="Graphics">
			<item label="Flameshot">
				<action name="Execute">
					<command>
<![CDATA[flameshot]]>											
					</command>
				</action>
			</item>
			<item label="GNU Image Manipulation Program">
				<action name="Execute">
					<command>
<![CDATA[gimp-2.10]]>											
					</command>
				</action>
			</item>
			<item label="Gpick">
				<action name="Execute">
					<command>
<![CDATA[gpick]]>											
					</command>
				</action>
			</item>
			<item label="Ristretto Image Viewer">
				<action name="Execute">
					<command>
<![CDATA[ristretto]]>											
					</command>
				</action>
			</item>
		</menu>
		<menu id="0.546622214230361" label="Multimedia">
			<item label="Parole Media Player">
				<action name="Execute">
					<command>
<![CDATA[parole]]>											
					</command>
				</action>
			</item>
			<item label="PulseAudio Volume Control">
				<action name="Execute">
					<command>
<![CDATA[pavucontrol]]>											
					</command>
				</action>
			</item>
			<item label="PulseEffects">
				<action name="Execute">
					<command>
<![CDATA[pulseeffects]]>											
					</command>
				</action>
			</item>
			<item label="VLC media player">
				<action name="Execute">
					<command>
<![CDATA[/usr/bin/vlc --started-from-file]]>											
					</command>
				</action>
			</item>
		</menu>
		<menu id="0.716335801536008" label="Network">
			<item label="Firefox Nightly">
				<action name="Execute">
					<command>
<![CDATA[/opt/firefox-nightly/firefox]]>											
					</command>
				</action>
			</item>
			<item label="Firefox">
				<action name="Execute">
					<command>
<![CDATA[/usr/lib/firefox/firefox]]>											
					</command>
				</action>
			</item>
			<item label="Mail Reader">
				<action name="Execute">
					<command>
<![CDATA[exo-open --launch MailReader]]>											
					</command>
				</action>
			</item>
			<item label="MEGAsync">
				<action name="Execute">
					<command>
<![CDATA[megasync]]>											
					</command>
				</action>
			</item>
			<item label="Pale Moon">
				<action name="Execute">
					<command>
<![CDATA[palemoon]]>											
					</command>
				</action>
			</item>
			<item label="pcloud">
				<action name="Execute">
					<command>
<![CDATA["/home/owl/Applications/pcloud"]]>											
					</command>
				</action>
			</item>
			<item label="qutebrowser">
				<action name="Execute">
					<command>
<![CDATA[qutebrowser]]>											
					</command>
				</action>
			</item>
			<item label="Telegram Desktop">
				<action name="Execute">
					<command>
<![CDATA[/usr/bin/telegram-desktop --]]>											
					</command>
				</action>
			</item>
			<item label="Thunderbird (Bleeding edge)">
				<action name="Execute">
					<command>
<![CDATA[/usr/bin/thunderbird]]>											
					</command>
				</action>
			</item>
			<item label="Transmission">
				<action name="Execute">
					<command>
<![CDATA[transmission-gtk]]>											
					</command>
				</action>
			</item>
			<item label="Web Browser">
				<action name="Execute">
					<command>
<![CDATA[exo-open --launch WebBrowser]]>											
					</command>
				</action>
			</item>
		</menu>
		<menu id="0.0376271868444604" label="Office">
			<item label="Dictionary">
				<action name="Execute">
					<command>
<![CDATA[xfce4-dict]]>											
					</command>
				</action>
			</item>
			<item label="Orage Calendar">
				<action name="Execute">
					<command>
<![CDATA[orage]]>											
					</command>
				</action>
			</item>
			<item label="Orage Globaltime">
				<action name="Execute">
					<command>
<![CDATA[globaltime]]>											
					</command>
				</action>
			</item>
		</menu>
		<menu id="0.553182683926103" label="Settings">
			<item label="Add/Remove Software">
				<action name="Execute">
					<command>
<![CDATA[pamac-manager]]>											
					</command>
				</action>
			</item>
			<item label="Color Profiles">
				<action name="Execute">
					<command>
<![CDATA[xfce4-color-settings]]>											
					</command>
				</action>
			</item>
			<item label="Customize Look and Feel">
				<action name="Execute">
					<command>
<![CDATA[lxappearance]]>											
					</command>
				</action>
			</item>
			<item label="Desktop Preferences">
				<action name="Execute">
					<command>
<![CDATA[pcmanfm --desktop-pref]]>											
					</command>
				</action>
			</item>
			<item label="Desktop">
				<action name="Execute">
					<command>
<![CDATA[xfdesktop-settings]]>											
					</command>
				</action>
			</item>
			<item label="Display">
				<action name="Execute">
					<command>
<![CDATA[xfce4-display-settings]]>											
					</command>
				</action>
			</item>
			<item label="File Manager Settings">
				<action name="Execute">
					<command>
<![CDATA[thunar-settings]]>											
					</command>
				</action>
			</item>
			<item label="Firewall Configuration">
				<action name="Execute">
					<command>
<![CDATA[gufw]]>											
					</command>
				</action>
			</item>
			<item label="Keyboard and Mouse">
				<action name="Execute">
					<command>
<![CDATA[lxinput]]>											
					</command>
				</action>
			</item>
			<item label="Keyboard">
				<action name="Execute">
					<command>
<![CDATA[xfce4-keyboard-settings]]>											
					</command>
				</action>
			</item>
			<item label="LightDM GTK+ Greeter settings">
				<action name="Execute">
					<command>
<![CDATA[lightdm-gtk-greeter-settings-pkexec]]>											
					</command>
				</action>
			</item>
			<item label="MIME Type Editor">
				<action name="Execute">
					<command>
<![CDATA[xfce4-mime-settings]]>											
					</command>
				</action>
			</item>
			<item label="Mouse and Touchpad">
				<action name="Execute">
					<command>
<![CDATA[xfce4-mouse-settings]]>											
					</command>
				</action>
			</item>
			<item label="Notifications">
				<action name="Execute">
					<command>
<![CDATA[xfce4-notifyd-config]]>											
					</command>
				</action>
			</item>
			<item label="Openbox Configuration Manager">
				<action name="Execute">
					<command>
<![CDATA[obconf]]>											
					</command>
				</action>
			</item>
			<item label="Orage preferences">
				<action name="Execute">
					<command>
<![CDATA[orage -p]]>											
					</command>
				</action>
			</item>
			<item label="Panel">
				<action name="Execute">
					<command>
<![CDATA[xfce4-panel --preferences]]>											
					</command>
				</action>
			</item>
			<item label="Power Manager">
				<action name="Execute">
					<command>
<![CDATA[xfce4-power-manager-settings]]>											
					</command>
				</action>
			</item>
			<item label="Preferred Applications">
				<action name="Execute">
					<command>
<![CDATA[exo-preferred-applications]]>											
					</command>
				</action>
			</item>
			<item label="Preferred Applications">
				<action name="Execute">
					<command>
<![CDATA[libfm-pref-apps]]>											
					</command>
				</action>
			</item>
			<item label="Removable Drives and Media">
				<action name="Execute">
					<command>
<![CDATA[thunar-volman-settings]]>											
					</command>
				</action>
			</item>
			<item label="Screensaver">
				<action name="Execute">
					<command>
<![CDATA[xfce4-screensaver-preferences]]>											
					</command>
				</action>
			</item>
			<item label="Session and Startup">
				<action name="Execute">
					<command>
<![CDATA[xfce4-session-settings]]>											
					</command>
				</action>
			</item>
			<item label="Settings Editor">
				<action name="Execute">
					<command>
<![CDATA[xfce4-settings-editor]]>											
					</command>
				</action>
			</item>
			<item label="Settings Manager">
				<action name="Execute">
					<command>
<![CDATA[xfce4-settings-manager]]>											
					</command>
				</action>
			</item>
			<item label="Software Update">
				<action name="Execute">
					<command>
<![CDATA[pamac-manager --updates]]>											
					</command>
				</action>
			</item>
			<item label="Tint2 Settings">
				<action name="Execute">
					<command>
<![CDATA[tint2conf]]>											
					</command>
				</action>
			</item>
			<item label="Window Effects">
				<action name="Execute">
					<command>
<![CDATA[compton-conf]]>											
					</command>
				</action>
			</item>
			<item label="Window Manager Tweaks">
				<action name="Execute">
					<command>
<![CDATA[xfwm4-tweaks-settings]]>											
					</command>
				</action>
			</item>
			<item label="Window Manager">
				<action name="Execute">
					<command>
<![CDATA[xfwm4-settings]]>											
					</command>
				</action>
			</item>
			<item label="Workspaces">
				<action name="Execute">
					<command>
<![CDATA[xfwm4-workspace-settings]]>											
					</command>
				</action>
			</item>
			<item label="Xfce Terminal">
				<action name="Execute">
					<command>
<![CDATA[xfce4-terminal --preferences]]>											
					</command>
				</action>
			</item>
		</menu>
		<menu id="root-menu-342848" label="Web Browser">
			<item label="qutebrowser">
				<action name="Execute">
					<execute>qutebrowser</execute>
				</action>
			</item>
			<item label="palemoon">
				<action name="Execute">
					<execute>palemoon</execute>
				</action>
			</item>
			<item label="firefox nightly">
				<action name="Execute">
					<execute>firefox-nightly</execute>
				</action>
			</item>
			<item label="Firefox">
				<action name="Execute">
					<execute>firefox</execute>
				</action>
			</item>
		</menu>
		<menu id="root-menu-942335" label="Terminals">
			<item label="tilix">
				<action name="Execute">
					<execute>tilix</execute>
				</action>
			</item>
			<item label="urxvt">
				<action name="Execute">
					<execute>urxvt</execute>
				</action>
			</item>
			<item label="tilda">
				<action name="Execute">
					<execute>tilda</execute>
				</action>
			</item>
		</menu>
		<menu id="0.744865580686028" label="System">
			<item label="Add/Remove Software">
				<action name="Execute">
					<command>
<![CDATA[pamac-manager]]>											
					</command>
				</action>
			</item>
			<item label="Avahi Zeroconf Browser">
				<action name="Execute">
					<command>
<![CDATA[/usr/bin/avahi-discover]]>											
					</command>
				</action>
			</item>
			<item label="Bulk Rename">
				<action name="Execute">
					<command>
<![CDATA[/usr/lib/Thunar/ThunarBulkRename]]>											
					</command>
				</action>
			</item>
			<item label="File Manager PCManFM">
				<action name="Execute">
					<command>
<![CDATA[pcmanfm]]>											
					</command>
				</action>
			</item>
			<item label="GParted">
				<action name="Execute">
					<command>
<![CDATA[/usr/bin/gparted]]>											
					</command>
				</action>
			</item>
			<item label="Htop">
				<action name="Execute">
					<command>
<![CDATA[xterm -e 'htop']]>											
					</command>
				</action>
			</item>
			<item label="LightDM GTK+ Greeter settings">
				<action name="Execute">
					<command>
<![CDATA[lightdm-gtk-greeter-settings-pkexec]]>											
					</command>
				</action>
			</item>
			<item label="Log Out">
				<action name="Execute">
					<command>
<![CDATA[xfce4-session-logout]]>											
					</command>
				</action>
			</item>
			<item label="MEGAsync">
				<action name="Execute">
					<command>
<![CDATA[megasync]]>											
					</command>
				</action>
			</item>
			<item label="ranger">
				<action name="Execute">
					<command>
<![CDATA[xterm -e 'ranger']]>											
					</command>
				</action>
			</item>
			<item label="Sensor Viewer">
				<action name="Execute">
					<command>
<![CDATA[xfce4-sensors]]>											
					</command>
				</action>
			</item>
			<item label="Software Update">
				<action name="Execute">
					<command>
<![CDATA[pamac-manager --updates]]>											
					</command>
				</action>
			</item>
			<item label="Task Manager">
				<action name="Execute">
					<command>
<![CDATA[xfce4-taskmanager]]>											
					</command>
				</action>
			</item>
			<item label="Thunar File Manager">
				<action name="Execute">
					<command>
<![CDATA[thunar]]>											
					</command>
				</action>
			</item>
			<item label="Tilda">
				<action name="Execute">
					<command>
<![CDATA[/usr/bin/tilda]]>											
					</command>
				</action>
			</item>
			<item label="Tilix">
				<action name="Execute">
					<command>
<![CDATA[tilix]]>											
					</command>
				</action>
			</item>
			<item label="Tint2">
				<action name="Execute">
					<command>
<![CDATA[tint2]]>											
					</command>
				</action>
			</item>
			<item label="urxvt (client)">
				<action name="Execute">
					<command>
<![CDATA[urxvtc]]>											
					</command>
				</action>
			</item>
			<item label="urxvt (tabbed)">
				<action name="Execute">
					<command>
<![CDATA[urxvt-tabbed]]>											
					</command>
				</action>
			</item>
			<item label="urxvt">
				<action name="Execute">
					<command>
<![CDATA[urxvt]]>											
					</command>
				</action>
			</item>
			<item label="Vifm">
				<action name="Execute">
					<command>
<![CDATA[xterm -e 'vifm']]>											
					</command>
				</action>
			</item>
			<item label="Xfce Terminal">
				<action name="Execute">
					<command>
<![CDATA[xfce4-terminal]]>											
					</command>
				</action>
			</item>
		</menu>
		<separator/>
		<menu id="0.0786079548422549" label="Advanced Settings">
			<item label="Conky RC">
				<action name="Execute">
					<command>
<![CDATA[geany ~/.conkyrc]]>											
					</command>
				</action>
			</item>
			<item label="Tint2 Panel">
				<action name="Execute">
					<command>
<![CDATA[geany ~/.config/tint2/tint2rc]]>											
					</command>
				</action>
			</item>
			<menu id="0.459332506887034" label="Obmenu-Generator">
				<item label="Menu Schema">
					<action name="Execute">
						<command>
<![CDATA[geany ~/.config/obmenu-generator/schema.pl]]>													
						</command>
					</action>
				</item>
				<item label="Menu Config">
					<action name="Execute">
						<command>
<![CDATA[geany ~/.config/obmenu-generator/config.pl]]>													
						</command>
					</action>
				</item>
				<separator/>
				<item label="Generate a static menu">
					<action name="Execute">
						<command>
<![CDATA[obmenu-generator -s -c]]>													
						</command>
					</action>
				</item>
				<item label="Generate a static menu with icons">
					<action name="Execute">
						<command>
<![CDATA[obmenu-generator -s -i -c]]>													
						</command>
					</action>
				</item>
				<separator/>
				<item label="Generate a dynamic menu">
					<action name="Execute">
						<command>
<![CDATA[obmenu-generator -p]]>													
						</command>
					</action>
				</item>
				<item label="Generate a dynamic menu with icons">
					<action name="Execute">
						<command>
<![CDATA[obmenu-generator -p -i]]>													
						</command>
					</action>
				</item>
				<separator/>
				<item label="Refresh cache">
					<action name="Execute">
						<command>
<![CDATA[obmenu-generator -d]]>													
						</command>
					</action>
				</item>
			</menu>
			<menu id="0.111291269529353" label="Openbox">
				<item label="Openbox Autostart">
					<action name="Execute">
						<command>
<![CDATA[geany ~/.config/openbox/autostart]]>													
						</command>
					</action>
				</item>
				<item label="Openbox RC">
					<action name="Execute">
						<command>
<![CDATA[geany ~/.config/openbox/rc.xml]]>													
						</command>
					</action>
				</item>
				<item label="Openbox Menu">
					<action name="Execute">
						<command>
<![CDATA[geany ~/.config/openbox/menu.xml]]>													
						</command>
					</action>
				</item>
				<item label="Reconfigure Openbox">
					<action name="Execute">
						<command>
<![CDATA[openbox --reconfigure]]>													
						</command>
					</action>
				</item>
			</menu>
		</menu>
		<separator/>
		<item label="Lock">
			<action name="Execute">
				<command>
<![CDATA[xscreensaver-command -lock]]>									
				</command>
			</action>
		</item>
		<item label="Exit">
			<action name="Exit"/>
		</item>
	</menu>
</openbox_menu>
